.box {
    border-radius: 1.2rem;
    padding: 0.8rem;
    background: #86919b;
    border: #ccc9c9 solid 5px;
    box-shadow: 0 0 5px 5px #ccc9c9;
}

.boxText {
    text-align: center;
    padding: 0;
    font-weight: bold;
    color: white;
    margin: 0 0 5px;
}

.arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 8px;
}
