.box {
    border-radius: 1.2rem;
    padding: 0.8rem;
    background: #86919b;
    border: #ccc9c9 solid 5px;
    box-shadow: 0 0 5px 5px #ccc9c9;
}

.boxText {
    text-align: center;
    padding: 0;
    font-weight: bold;
    color: white;
    margin: 0 0 5px;
}

.arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 8px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.modalLoader {
    width: 150px;
    margin-top: 200px;
    border: none;
    box-shadow: none;
    background: none;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#feedback-link {
    color: #3498db;
    font-weight: bold;
}
